<!-- TOOLBAR: solo si NO es login -->
<mat-toolbar color="primary" *ngIf="!isLoginRoute()">
  <span style="font-weight:600">Gestión de trámites - USCO</span>
  <span style="flex:1 1 auto"></span>

  <!-- NO LOGUEADO -->
  <ng-container *ngIf="!isLoggedIn(); else logged">
    <a mat-button routerLink="/login">Login</a>
  </ng-container>

  <!-- LOGUEADO -->
  <ng-template #logged>
    <span style="margin-right:1rem">
      {{ isAdmin() ? 'Administrador' : 'Usuario' }}
    </span>
  </ng-template>
</mat-toolbar>

<!-- CONTENIDO -->
<router-outlet></router-outlet>
